.btn {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 7px;
    background-color: #febf44;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}