.footer-container {
    background: url(/images/footer.png);
    background-size: cover;
    height: 400px;
    margin:50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: 80px;
    border-radius: 7px;
}

.image {
    text-align: left;
    padding: 10px 0  0 60px;
}

.middle-section {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.para p {
    max-width: 400px;
    margin-left: 60px;
}

.location {
    margin-right: 120px;
    font-size: 24px;
}

.address {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.last-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.icons {
    font-size: 26px;
    display: flex;
    gap: 20px;
    margin-right: 125px;
}