.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    background-color: #febf44;
}
.logo img {
    fill: #febf44;
}

.menu ul  {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.menu ul li {
    list-style: none;
    font-weight: bold;
}