.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
}
.logo img {
    fill: #febf44;
}

.menu ul  {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.menu ul li {
    list-style: none;
    font-weight: bold;
}